@tailwind base;
@tailwind components;
@tailwind utilities;
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ag-cell {
  font-weight: "bold" !important;
}

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #000000;
    --primary: #0078d4;
    --primary-50: #d0e6f8;
    --primary-100: #ecf2f7;
    --secondary: #9ba9d2;
    --text-primary: #23272e;
    --text-secondary: #64748b;
    --muted: #2b3674;
    --success: #34c759;
    --destructive: #ff3b30;
    --border: #9ba9d2;
    --input: #ffffff;
    --ring: #0078d4;
    --card: #ffffff;
    --card-foreground: #23272e;
    --popover: #f9f9f9;
    --popover-foreground: #23272e;
    --sidebar-background: #2b3674;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #0078d4;
    --sidebar-accent: #34c759;
    --sidebar-border: #919396;
    --sidebar-ring: rgba(0, 120, 212, 0.1);
    /* --border-radius-sm: 0.5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 2rem; */
    --border: #9ba9d2;
    --border-accent: #e9edf7;
    --border-grey: #808080cc;
    --backdrop: #0078d40d;
    --table-backdrop: #0078d41a;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #caf3f8;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
