@tailwind base;
@tailwind components;
@tailwind utilities;
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ag-root {
  font-family: "Poppins", sans-serif !important;
}
@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #000000;
    --primary: #0078d4;
    --primary-50: #d0e6f8;
    --secondary: #9ba9d2;
    --muted: #2b3674;
    --success: #34c759;
    --destructive: #ff3b30;
    --border: #9ba9d2;
    --input: #ffffff;
    --ring: #0078d4;
    --card: #ffffff;
    --card-foreground: #23272e;
    --popover: #f9f9f9;
    --popover-foreground: #23272e;
    --sidebar-background: #2b3674;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #0078d4;
    --sidebar-accent: #34c759;
    --sidebar-border: #919396;
    --sidebar-ring: rgba(0, 120, 212, 0.1);
    --border-radius-sm: 0.5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 2rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #caf3f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
