@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ag-cell {
  font-weight: "bold" !important;
}

.ag-pinned-left-header {
  border: none !important;
}

.ag-pinned-right-header {
  border: none !important;
}

.table-wrapper {
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 0px;
}

.table-header {
  color: #9BA9D2;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #E5EDF7;
  padding: 10px 0;
}

.table-header th {
  max-width: 140px;
}

.table-content td {
  max-width: 140px;
}

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #000000;
    --accent: #ffffff;
    --primary: #0078d4;
    --primary-100: #076bb7;
    --secondary: #9ba9d2;
    --text-primary: #23272e;
    --text-secondary: #64748b;
    --text-content: #2b3674;
    --muted: #2b3674;
    --success: #34c759;
    --success-100: #239f42;
    --destructive: #ff3b30;
    --destructive-100: #eb0f04;
    --border: #9ba9d2;
    --input: #ffffff;
    --ring: #0078d4;
    --card: #ffffff;
    --card-foreground: #23272e;
    --popover: #f9f9f9;
    --popover-foreground: #23272e;
    --sidebar-background: #2b3674;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #0078d4;
    --sidebar-accent: #34c759;
    --sidebar-border: #919396;
    --sidebar-ring: rgba(0, 120, 212, 0.1);
    /* --border-radius-sm: 0.5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 2rem; */
    --border: #9ba9d2;
    --border-accent: #e9edf7;
    --border-grey: #808080cc;
    --backdrop: #0078d40d;
    --table-backdrop: #0078d41a;

    /* Charts Color */
    --chart-leaves: 206 100% 89%;
    --chart-absent: 206 100% 42%;
    
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #caf3f8;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}